@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Inter', sans-serif;
}
/* --------------Nav------------- */
nav {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
.nav-after {
  display: none !important;
}
.beforeInspect {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.beforeInspect a{
  width: 70px;
}
@media screen and (max-width: 576px) {
  .beforeInspect {
    display: none !important;
  }
  .nav-after {
    display: block !important;
  }
}
  /* ----------main--------------- */
  main{
    margin: 30px;
  }
  main>h1{
    text-align: center;
  }
  /* ----------items-------------- */
  .items{
    width: 820px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(206, 205, 205);
    margin: auto;
  }
  .items>h1{
    text-align: center;
  }
  .item{
    margin: auto;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
  }
  .item img{
    height: 100px;
    width: 100px;
    margin: 10px ;
  }
  .item .info{
    padding: 0px 10px;
    width: 500px;
  }
  .item button{
    background-color: black;
    color: white;
    height: 120px;
    width: 100px;
  }
  .item .price{
    width: 50%;
  }
  .item .qty{
    width: 50%;
  }
  .item .row{
    display: flex;
  }
  /* ------Price Details------ */
  .total{
    display: none;
    width: 820px;
    margin: 30px auto;
    background-color:  rgb(206, 205, 205);
    padding: 30px 0px;
  }
  .total .priceDetails{
    width: 500px;
    padding: 0px 10px;
    margin: auto;
  }
  .total h1{
    font-size: 25px;
    text-align: center;
  }
  .total .priceRow{
    display: flex;
    justify-content: space-between;
  }
  .total .pay{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
  }
  .pay>div{
    box-sizing: border-box;
    width: 250px;
    display: flex;
    justify-content: center;
  }
  .pay>Button{
    box-sizing: border-box;
    width: 250px;
    border:  none;
    background-color: black;
    color: white;
    padding: 20px 0px;
  }
  @media screen and (max-width:900px){
    .items{
      width: 100%
    }
    .items .item{
      width: 100%;
    }
    .total{
      width: 100%;
      padding: 10px 0px;
    }
    .total .priceDetails{
      width: 100%;
    }
  }
  @media screen and (max-width:500px){
    main{
      font-size: 80%;
    }
  }